

# -----------------------------
# Logs
# -----------------------------
logs
*.log


# -----------------------------
# Temporary files
# -----------------------------
*.tmp
*.temp


# -----------------------------
# Build folders
# -----------------------------
dist/
build/